footer{
    background: #23171c;

    min-height: 90vh;

    display: grid;
    grid-template-rows: auto auto;
}

footer p{
    font-weight: 400;
    font-size: 15px;
}

footer p, h2, h3{
    white-space: normal;
}
