.icon-circle{
    height: 50px;
    width: 50px;

    background: #fff3c6;
    
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon-circle i{
    font-size: 28px;

    color: #f29007;
}


span .arrow{
    padding-left: 5px;

}

/*_________________________social_media______________________*/

.social-media-icons{
    font-size: 30px;
    color: #cbd5e1;
}

.social-media-icons:hover{
    
    color: #f29007;
}