/*__________________big_containers__________________________*/
.services{
    
    padding-top: clamp(70px, 16.7vw, 90px);

    display: grid;
    justify-content: center;
    grid-template-rows: 230px 1fr 100px;
}

/* 1fr 100px*/

.services-title h2{
    padding-bottom: 20px;
}

.services-container{



    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));  
    grid-auto-rows: 345px;
    gap: 24px;  
    padding: 0 64px;/*20px phones*/
}

@media(max-width: 600px){
    .services-container{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}

/*___________________containers__________________________*/

.serv{
    border: 0.1px solid rgb(222, 222, 222);
    border-radius: 13px;

    padding: 20px;

    display: grid;
    grid-template-rows: 65px auto 1fr 30px;
    justify-items: start;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-bottom-link{
    display: flex;
    justify-content: center;
    align-items: center;
}





/*___________________text__________________________*/

.services h2, h3{
    color: black;
}

.services h2{
    font-size: 2.25rem;
}

.services p{
    color: #445265;
    
    font-weight: 400;

    

}

.serv p{
    text-align: start;
}


.voir-plus{
    color:  #d97707;
}



/*70px 20px 60px*/


/*90px 20px 60px => 16.7vw */

/* 230px => 220px*/

/* #f29007*/


/*___________________links__________________________*/

.service-bottom-link a{
    color: #f29007;
}

.service-bottom-link a:hover{
    color: #bf6e05;
    background: white;
}

/*___________________button__________________________*/

.serv button{

    width: 100%;

}

/*___________________serv_hover_________________________*/

.serv:hover{
    border: 0.1px solid #f2900772;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);

    transform: translateY(-5px);

}


.serv:hover .icon-circle{
    background: #f29007;
}

.serv:hover .icon-circle i:not(.arrow){
    color: white;
}

.serv:hover .voir-plus{
    color:  #f29007;

}

.voir-plus .arrow{
    transition: transform 0.3s ease;

}

.serv:hover .voir-plus .arrow{
    transform: translateX(5px)

}


/* 430px 260px
   330px 285px 
*/